.info {
  position: relative;
  animation: fall 1s ease-in-out forwards;
}

@keyframes fall {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.anchors {
  position: relative;
  animation: slipFromRight 1s ease-in-out forwards;
}

@keyframes slipFromRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.credits {
  position: relative;
  animation: rise 1s ease-in-out forwards;
}

@keyframes rise {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}