/*@font-face {
    font-family: 'Graphik';
    src: url('../fonts/graphik/Graphik-Bold.woff2') format('woff2'),
         url('../fonts/graphik/Graphik-Bold.woff') format('woff'),
         url('../fonts/graphik/Graphik-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}*/

strong,
b {
  font-weight: 500;
}

@font-face {
  font-family: 'Graphik';
  src: url('../fonts/graphik/Graphik-Light.woff2') format('woff2'),
    url('../fonts/graphik/Graphik-Light.woff') format('woff'),
    url('../fonts/graphik/Graphik-Light.ttf') format('truetype');
  font-weight: 300;
  /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('../fonts/graphik/Graphik-Medium.woff2') format('woff2'),
    url('../fonts/graphik/Graphik-Medium.woff') format('woff'),
    url('../fonts/graphik/Graphik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('../fonts/graphik/Graphik-Regular.woff2') format('woff2'),
    url('../fonts/graphik/Graphik-Regular.woff') format('woff'),
    url('../fonts/graphik/Graphik-Regular.ttf') format('truetype');
  font-weight: 400;
  /* Regular */
  font-style: normal;
}


@font-face {
  font-family: 'Graphik';
  src: url('../fonts/graphik/Graphik-Semibold.woff2') format('woff2'),
    url('../fonts/graphik/Graphik-Semibold.woff') format('woff'),
    url('../fonts/graphik/Graphik-Semibold.ttf') format('truetype');
  font-weight: 600;
  /* Semibold */
  font-style: normal;
}

ul {
  list-style: disc;
  font-family: "Graphik";
  font-weight: 400;
  padding-inline-start: 15px;
  margin-inline-start: 0px;
  margin-bottom: 0.5em;
}

li {
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 17px;
}

ol {
  list-style: decimal;
  font-family: "Graphik";
  font-weight: 400;
  padding-inline-start: 15px;
  margin-inline-start: 0px;
}


.tab-container {
  /*margin-left: 150px;*/
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
  /*padding-top: 25px;*/
  /*margin-left: 70px;*/

}

#plan-home {}


.plan-header {
  /*height: 120px;*/
  padding-top: 3rem;
  margin-bottom: 1rem;

}

.plan-header h2 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3;
  text-decoration: none;
  font-family: "Graphik";
  letter-spacing: 0.5px;
  color: #ffffff;
  padding-left: 15px;
  padding-bottom: 20px;

}

.plan-left {
  display: inline-block;
  width: 30%;
  background: #fff;
  height: 70vh;
  /*border-radius: 15px;*/
  /*box-shadow: 0 0.3rem 0.4rem rgba(0,0,0,.3);*/
  /*padding-right: 15px;*/
  /*border-left: 10px solid #1a1350;*/
  vertical-align: top;
  /*border-top: 2px solid #eceff7;*/

  background: none;
}

.plan-step-container {
  /*height: 70vh;*/
  /*max-height: 800px;*/
  height: 100%;
  /*min-height: 400px;*/
  overflow: scroll;
}

.plan-step-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.plan-step-container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, .3);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}


.plan-right {
  display: inline-block;
  width: 60%;
  background: #fff;
  height: 70vh;
  border-radius: 15px;
  /*box-shadow: 0 0.3rem 0.4rem rgba(0,0,0,.3);*/
  max-height: 800px;
  min-height: 400px;
  vertical-align: top;



  border: 3px solid #0212f3;
  -webkit-box-shadow: 0 10px 20px rgba(3, 27, 78, .1);
  box-shadow: 0 10px 20px rgba(3, 27, 78, .1);
  margin: 0;
  padding: 32px;

  /*box-shadow: 0 5px 60px 0 #0000007a;*/

  box-shadow: 0 5px 60px 0 rgba(3, 27, 78, .1);

  /*transition: all 5s ease;*/

}

.card-header {
  height: 150px;
  background: #11166a;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.card-header h1 {
  color: #fff;
  font-size: 1.1rem;
  /*padding: 20px;*/
  padding-left: 50px;
  padding-top: 25px;
  font-family: "Graphik";
  font-weight: 700;
  letter-spacing: 0.2px;
  padding-bottom: 9px;
  text-transform: uppercase;
}

.card-header h2 {
  color: rgba(255, 255, 255, 0.7);
  display: block;
  font-size: 0.9em;
  line-height: 1.5em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-family: "Graphik";
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 8px;
}

.card-header-white {
  padding-left: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.card-header-white h1 {
  /*color: #fff;*/
  font-size: 1.1rem;
  /*padding: 20px;*/
  /*padding-left: 50px;*/
  padding-top: 5px;
  font-family: "Graphik";
  font-weight: 700;
  letter-spacing: 0.2px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.card-header-white h2 {
  /*color: rgba(255, 255, 255, 0.7);*/
  display: block;
  font-size: 0.9em;
  line-height: 1.5em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-family: "Graphik";
  /*padding-left: 50px;*/
  /*padding-right: 50px;*/
  padding-top: 8px;
  padding-bottom: 25px;
}





.card-body {
  /*height: calc(70vh - 150px);*/
  /*min-height: 280px;*/
  /*padding: 50px;*/
}

.plan-navigator {
  background: #fff;
  min-height: 70vh;
  height: 70vh;

}


.plan-step-header {
  height: 65px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /*border-bottom: 2px solid #eceff7;*/
}

.plan-step-header h1 {
  font-weight: 700;
  font-family: "Graphik", sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.2px;
  padding-bottom: 12px;
  text-transform: uppercase;
  padding: 18px;
  padding-left: 30px;

  color: #fff;
}

.plan-step {
  /*    height: 125px;*/
  /*border-bottom: 1px solid #e6e6e6;*/
  width: 100%;
  margin-bottom: 5px;
}

.plan-step:hover {
  border-bottom: 0px solid grey;


  /*background-color: #020844;*/
  background-color: rgba(0, 0, 0, 0.27);
  cursor: pointer;
  /*color: #0cd6df !important;*/
}


.plan-step:hover h1 {
  /*color: #0cd6df !important;*/
  color: #fff !important;
}

.plan-step:hover h2 {
  font-weight: 400;
  padding-left: 20px;
  /*color: rgba(12, 214, 223, 0.75);*/
  color: #fffc;
}

.plan-step.active {
  /*background: green;*/
  /*background-color: #f0f0fd;*/
  /*border-left: 10px solid #1a1350;*/

  /*border-left: 10px solid #5900bb;*/
  /*box-shadow: 0 0.3rem 0.4rem rgba(0,0,0,.3);*/
  /*box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,.3);*/


  /*background-color: #020844;*/
  background-color: rgba(0, 0, 0, 0.27);
  border: 1px solid #062b6d;
  /* border-left: 10px solid #1a1350; */
  /*border-left: 10px solid #0cd6e0;*/
  border-left: 10px solid #0072ff;

  -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);

  /*border-radius: 15px;*/
  border-radius: 5px;
}


.plan-step.active h1 {
  color: #101669;
  color: #0cd6df;
  color: #fff;
}

.plan-step.active h2 {
  font-weight: 400;
  padding-left: 20px;
  color: rgba(12, 214, 223, 0.75);
  color: #fff;
  color: #fffc;
}

.plan-step.active p {
  color: rgba(255, 255, 255, 0.8);
}

.plan-step:first-of-type {
  padding-top: 20px;
}

.plan-step {
  padding: 7px;
}

.plan-step h1 {
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: .025em;
  color: #8f6ed5;
  font-weight: 500;
  font-family: "Graphik", sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.2px;
  padding-left: 20px;
  color: rgba(255, 255, 255, 0.84);
}

.plan-step h2 {
  font-family: "Graphik", sans-serif;
  /*font-family: "Raleway", sans-serif;*/
  font-size: 0.8em;
  /*color: #1a1350a8;*/
  padding-left: 20px;
  color: rgba(255, 255, 255, 0.40)
}

.plan-step p {
  font-family: "Graphik", sans-serif;
  font-size: 0.8em;
  /*color: #1a1350a8;*/
  padding-left: 20px;
  color: rgba(255, 255, 255, 0.40);
  padding-top: 10px;
}


.vseparator {
  height: 70vh;
  border-right: 2px solid rgba(188, 212, 220, 0.22);
  display: inline-block;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.plan-container {
  display: flex;
  background: #fff;
  justify-content: space-between;
  height: 100vh;
  /*color: #000; */
}


.left-menu {
  /*    height: 100%;
  min-width: 70px;
  max-width: 70px;
  color: #fff;
  font-size: 1em;
  z-index: 1000;
  padding: 15px;
  overflow-y: auto;*/
  /*background: #1a1450;*/
  /*background: none;
  display: block;
  border-right: 1px solid rgba(255,255,255,0.2);*/
}

.left-menu-container {
  /*flex: 0 0 70px;*/
  overflow: hidden;
  height: 100%;
  /*position: fixed;*/
  z-index: 1000;
  /*    background: #1a0b6f;*/
  background: #035db8;
  width: 70px;
  /*background: #ccc;*/
  /*order: 1;*/
  /*flex: 1;*/
  flex: 0 0 70px;
}


.left-container-full-length {
  height: 100%;
  width: 25%;
  /*min-width: 300px;*/
  /*max-width: 400px;*/
  background: #141986;
  /*padding: 25px;*/
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;

  /*flex: 0 0 350px;*/
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
  /*position: fixed;*/
  /*z-index: 1000;*/
  background: #18258d;
  /*flex: 1;*/
  flex: 0 0 25%;
  /*order: 2;*/

}

.right-container-full-length {
  /*margin-left: 150px;*/
  /*flex: 1 1 auto;*/
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  /*padding-top: 25px;*/
  /*margin-left: 460px;*/
  height: 100%;
  width: calc(45% - 70px);
  /*padding-top: 55px;*/

  padding: 25px;
  padding-top: 4.5rem;
  padding-left: 3.4rem;
  padding-right: 3.4rem;
  overflow: scroll;


}


.resources-container-full-length {
  flex: 0 0 20%;
  /*background: #fbfbff;*/
  background: #f4f5ff;
  overflow: scroll;
  padding: 25px;
  padding-top: 4.5rem;
  padding-left: 3.4rem;
  padding-right: 3.4rem;
  height: 100%;
}

.resources-container-full-length h1 {
  font-family: "Graphik", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #18258d;
  font-size: 0.9rem;
  letter-spacing: 1.2px;
}

.details-container-header {
  border-bottom: 1px solid rgba(23, 37, 141, 0.12);
  padding-bottom: 15px;
}

.details-container-header h1 {
  /*font-size: 3.2rem;*/
  color: #18258d;
  font-family: "Graphik", sans-serif;

  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3;
  text-decoration: none;
  font-family: "Graphik";
  letter-spacing: 0.5px;
  /*padding-left: 15px;*/
  padding-bottom: 20px;

}

.details-container-header h2 {
  font-size: 1.3rem;
  font-family: "Graphik", sans-serif;
  line-height: 1.5;
  letter-spacing: -0.2px;
  font-weight: 300;
}

.card-body {
  padding-top: 25px;
}

.card-body p {
  font-size: 1.2rem;
  font-size: 17px;
  font-family: "Graphik", sans-serif;
  line-height: 1.5;
}


.highlighted-card {
  /*background-color: #f8fcff;*/
  background-color: #f6f6ff;
  margin-left: -15px;
  margin-right: -15px;
  padding: 40px;
  padding-bottom: 20px;


}

.highlighted-card p {
  font-size: 1.2rem;
  font-size: 17px;
  font-family: "Graphik", sans-serif;
  line-height: 1.5;
  color: #0e2430;
  color: #44158f;
  margin-bottom: 0.2em;
}

.highlighted-card ul {
  list-style-type: disc;
  padding-left: 25px;
  font-size: 1.1rem;
  font-size: 17px;
  font-family: "Graphik", sans-serif;
  line-height: 2em;
  margin-bottom: 0.2em;
  color: #44158f;
}

.highlighted-card li {
  margin-bottom: 1em;
  margin-top: 1em;
}

.highlighted-card strong {
  color: #44158f;
}

.new-nav {
  height: 75px;
  background: blue;
}

.highlighted-card {
  margin-left: 0px;
  margin-right: 0px;
}

.right-container-full-length {
  padding-left: 4.4rem;
  padding-right: 4.4rem;
}

.at-a-glance {
  position: relative;
  margin-top: 80px;
  border: 2px solid #d2def2;
  padding-top: 45px;
  background: white;
  /*            width: 95%;*/
  width: 100%;
}


.at-a-glance-title {
  position: absolute;
  top: -30px;
  left: -2px;
  /*    background: #9393f0;*/

  background: #0736c0;
  background: #015eb8;
  padding: 8px 30px;
  color: white;
  font-weight: 550;
  font-family: "Graphik", sans-serif;
}

.at-a-glance p {
  font-size: 19px;
  line-height: 1.5;

}


.highlighted-card ul {
  line-height: 1.5;
  font-size: 19px;
  color: #212b32;
}

.highlighted-card strong {
  color: #212b32;
}

.highlighted-card p {
  color: #212b32;
}




.sk-sample-resume-container {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 0px 10px #ccc;
  font-family: "Graphik", sans-serif;
  letter-spacing: -0.2px;
  width: 100%;
  border-top: 4px solid #45818e;
  border-left: 4px solid transparent;
  margin: 0 auto;

  margin-bottom: 50px;
}

.sk-sample-resume-name {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0px;
  color: #45818e;

}

.sk-sample-resume-job-title-header {
  font-size: 16px;
  font-weight: 400;

}

.sk-sample-resume-heading {
  font-size: 14px;
  color: #45818e;
  margin-top: 30px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #d8e4e7;
  margin-bottom: 10px;
}

.sk-sample-resume-header {
  font-size: 14px;
  letter-spacing: -0.4px;
}

.sk-sample-resume-role {
  font-size: 15px;
  letter-spacing: -0.4px;
  line-height: 1;
  margin-bottom: 7px;
}

.sk-sample-resume-content {
  display: block;
  position: relative;
  padding-left: 30px;
  /* Space for the bullet point */
  font-size: 15px;
  letter-spacing: -0.2px;
  line-height: 1.5;
}

.sk-sample-resume-content:before {
  content: "\2022";
  /* Unicode bullet point */
  position: absolute;
  left: 0;
  color: #4a90e2;
  /* Same color as headings for a unified look */
}


.sk-sample-resume-contact-details {
  font-size: 15px;
  letter-spacing: -0.4px;
  line-height: 1;
}

.sk-sample-resume-single-work-exp-container {
  margin-bottom: 15px;
  line-height: 1.5;
}

.sk-sample-resume-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sk-sample-resume-job-title-and-location {
  display: flex;
  align-items: baseline;
  font-size: 15px;
}

.sk-sample-resume-job-title {
  font-weight: 550;

}

.sk-sample-resume-date {
  margin-left: auto;
  font-style: italic;
}

.sk-sample-resume-skill-group-container {
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: -0.4px;
}

.sk-sample-resume-skill-group {
  font-weight: 550;
}



.sk_resume_template_buttons,
.sk_resume_template_navigation {
  width: 87%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.choose-template-title {
  font-size: 15px;
  font-family: "Graphik", sans-serif;
  padding-top: 20px;
  line-height: 1.6;
  color: #564ff2;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.5px;
  padding-left: 20px;
  padding-bottom: 10px;
}



.sk_resume_template_buttons {
  border-left: 3px solid #c3c5fc;
  padding-bottom: 10px;
  padding-left: 20px;
}



.playbook-header p {
  line-height: 1.5;
}

.sk_resume_template_buttons button,
.sk_resume_template_navigation button {
  background-color: #ffffff;
  color: #333;
  border: 2px solid #ccc;
  padding: 8px 16px;
  margin: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  /*    letter-spacing: -0.2px;*/
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  /*    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);*/
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);

}


.sk_resume_template_current-name {
  font-size: 17px;
  font-family: "Graphik", sans-serif;
  font-weight: 550;
  letter-spacing: -0.4px;
  color: #3f34e9;
}


.sk_resume_template_buttons button:hover,
.sk_resume_template_navigation button:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  transform: translateY(-3px) scale(1.02);
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2), 0 0 10px rgba(255, 255, 255, 0.3);

}

.sk_resume_template_navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}




#resume3 .sk-sample-resume-name,
#resume3 .sk-sample-resume-heading,
#resume3 .sk-sample-resume-content:before {
  color: #170bd7;
}

#resume3 {
  border-top: 4px solid #170bd7;
  border-left: 4px solid transparent
}







.two-column-template .sk-sample-resume-header- {
  position: relative;
}


.two-column-template .sk-sample-resume-contact-details {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  padding: 25px;
  padding-top: 0px;
  line-height: 1.4;
  font-style: italic;
}

.two-column-template .resume-contents-main {
  display: flex;
  /* Establishes a flex container */
}

.two-column-template .experience-and-edu-container-res {
  flex: 1;
}

.two-column-template .skills-and-other-container-res {
  flex-basis: 300px;
  /* Adjust this width to your preference */
  padding: 25px;

}

.two-column-template .skills-container-res {
  margin-top: 95px;
}


.two-column-template .experience-and-edu-container-res {
  flex-grow: 1;
  padding-right: 30px;
}

.two-column-template .sk-sample-resume-job-title-header {
  font-size: 22px;
}

/* To ensure there is a gap between the two columns */
.two-column-template .experience-and-edu-container-res,
.two-column-template .skills-and-other-container-res {
  margin-right: 20px;
  /* Adjust the value as needed */
}

/* Remove the last margin-right for the last child (right column) */
.two-column-template .skills-and-other-container-res {
  margin-right: 0;
  margin-top: -90px;
  background: #f9fbfb;
}

.two-column-template .sk-sample-resume-skill-group-container {
  margin-bottom: 15px;
  font-size: 14px;
}

.two-column-template .other-container-res {
  margin-top: 25px;
}

@media (max-width: 600px) {
  .two-column-template .resume-contents-main {
    display: block;
  }

  .two-column-template .sk-sample-resume-contact-details {
    display: none;
  }

  .two-column-template .skills-and-other-container-res {
    margin-top: 0px;
  }

  .two-column-template .skills-container-res {
    margin-top: 0px;
  }
}






#resume2 .sk-sample-resume-name,
#resume2 .sk-sample-resume-heading,
#resume2 .sk-sample-resume-content:before {
  color: #af0f00;
}

#resume2 {
  border-left: 4px solid #af0f00;
  border-top: 4px solid transparent;
}

#resume2 .skills-and-other-container-res {
  background: #fff7ef;
}




#resume4 .sk-sample-resume-name,
#resume4 .sk-sample-resume-heading,
#resume4 .sk-sample-resume-content:before {
  color: #269e6e;
}

#resume4 {
  border-top: 4px solid #269e6e;
  border-left: 4px solid transparent
}


#resume4 .skills-and-other-container-res {
  background: #f6fffb;
  border-left: 2px solid #e1f0e8;
}





#resume5 .sk-sample-resume-name,
#resume5 .sk-sample-resume-heading,
#resume5 .sk-sample-resume-content:before {
  color: #af0f00;
}

#resume5 {
  border-left: 4px solid #af0f00;
  border-top: 4px solid transparent;
}


#resume6 .sk-sample-resume-name,
#resume6 .sk-sample-resume-heading,
#resume6 .sk-sample-resume-content:before {
  color: #000;
}

#resume6 {
  border-left: 4px solid transparent;
  border-top: 4px solid #000;
  font-family: Georgia, "Times New Roman", Times, serif;
}


#resume7 .sk-sample-resume-name,
#resume7 .sk-sample-resume-heading,
#resume7 .sk-sample-resume-content:before {
  color: #4366b1;
}

#resume7 .skills-and-other-container-res {
  background: #f5f7f9;
}


#resume7 {
  border-top: 0px solid transparent;
}


.highlight-in-template {
  background: #f1f1ff;
  color: #8644ff;
  /*background: #e5f2ff;
  color: #2b7296;*/
}

.highlight-in-template {
  position: relative;
  cursor: help;
}

.highlight-in-template::before,
.highlight-in-template::after {
  content: "";
  position: absolute;
  display: none;
}

.highlight-in-template::before {
  border: 6px solid transparent;
  border-bottom-color: #333;
  bottom: 100%;
  left: 50%;
  margin-left: -6px;
}

.highlight-in-template::after {
  /*  width: 220px;*/
  bottom: 120%;
  left: 50%;
  margin-left: -110px;
  padding: 8px;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  white-space: nowrap;
}

.highlight-in-template:hover::before,
.highlight-in-template:hover::after {
  display: block;
}

.highlight-in-template:hover::after {
  content: attr(data-tooltip);
}

.sk-sample-resume-container-master {
  margin-top: 50px;
}



.template-counter-container {

  display: inline-block;
  background: #015eb8;
  padding: 8px 20px;
  color: white;
  font-weight: 550;
  font-family: "Graphik", sans-serif;
}

.left-menu-container {
  width: 40px;
  flex: 0 0 40px;
}






.plan-container {
  background: #f0f4f5;
}


.details-container-header h1 {
  color: #212b32;
}

.details-container-header h2 {
  font-size: 1.15rem;
  font-family: "Graphik", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.2px;
  font-weight: 400;
  width: 80%;
}

.left-container-full-length {
  background: #015eb8;
}

.core-template-container-left h2 {
  font-family: "Graphik";
  letter-spacing: 0.1px;
  color: #212b32;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 28px;
}

.subtitle-for-template-name {
  font-weight: 400;
  font-size: 19px;
}

.author-container {
  font-family: "Graphik";
  color: #212b32;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
}

.author-resume-guide-circle-img {
  height: 80px;
  width: 80px;
  box-shadow: rgb(19 23 35 / 8%) -8px 14px 16px 0px;
  border-radius: 50px;
  display: inline-block;
  vertical-align: top;
}

.author-subtitle {
  display: inline-block;
  vertical-align: top;
  font-size: ;
}

.at-a-glance li {
  list-style: none;
}

.at-a-glance li svg {
  left: 24px;
  margin-top: -5px;
  position: absolute;
}

.at-a-glance mm {
  background: #ebf0f9;
  color: #015eb8;
  padding: 5px;
  padding-bottom: 0px;
}

.additional-info-warning {
  position: relative;
  margin-top: 80px;
  padding-top: 35px;
  width: 95%;
  background-color: #fff9c4;
  color: #212b32;
  border: 1px solid #ffeb3b;
  /*    font-weight: 500;*/
  font-weight: 400;
  margin-bottom: 60px;
}

.additional-info-warning-title {
  position: absolute;
  top: -30px;
  left: -2px;
  padding: 8px 30px;
  font-weight: 550;
  font-family: "Graphik", sans-serif;
  background-color: #ffeb3b;
  color: #212b32;
}


.new-tip-card {
  position: relative;
  margin-top: 30px;
  padding-top: 35px;
  width: 95%;
  font-weight: 500;
}

.additional-info-slight-blue {
  margin-top: 0px;
  padding-top: 0px;
}


.new-tip-card .heading-for-tip {
  position: relative;
  padding: 12px 30px;
  display: block;
  font-weight: 550;
  font-family: "Graphik", sans-serif;
  color: #fff;
  font-size: 20px;
}

.additional-info-slight-red .heading-for-tip {
  background-color: #d5281b;
}

.additional-info-slight-blue .heading-for-tip {
  background-color: #005eb8;
}

.additional-info-slight-blue-ld-gen {
  margin-top: 0px;
  padding-top: 0px;
}

.additional-info-slight-blue-ld-gen .left-text-container-smr,
.additional-info-slight-blue-ld-gen .right-upload-container-smr {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.additional-info-slight-blue-ld-gen .right-upload-container-smr {
  padding-left: 20px;
}


.additional-info-slight-blue-ld-gen .heading-for-tip {
  background-color: #515ccb;
}


.new-tip-card .tip-text-container {
  color: #212b32;
  padding: 35px;
  padding-bottom: 20px;
  background: #fff;
  border: 1px solid #d8dde0;
  border-top: 0px solid #d8dde0;
}

.tip-text-container p {
  margin-block: 0px;
  margin-bottom: 25px;

  font-size: 17px;
  font-family: "Graphik", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.tip-text-container p:last-of-type {
  /*    margin-bottom: 0px;*/
}

.highlighted-card p {
  margin-bottom: 25px;
}

.highlighted-card p:last-of-type {
  /*    margin-bottom: 0px;*/
}


.additional-info-slight-red {
  margin-top: 25px;
}

.additional-info-slight-red,
.additional-info-slight-blue,
.additional-info-warning,
.additional-info-slight-blue-ld-gen {
  margin-bottom: 45px;
}

.arr-card--care__arrow {
  bottom: -10px;
  display: block;
  height: 20px;
  left: 30px;
  overflow: hidden;
  position: absolute;
  transform: rotate(45deg);
  width: 20px;
}

.arr-card--care__arrow:before,
.arr-card--care__arrow:after {
  content: "";
  display: block;
  height: 0;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
  width: 0;

}

.additional-info-slight-red .arr-card--care__arrow:before,
.additional-info-slight-red .arr-card--care__arrow:after {
  border: solid 32px #d5281b;
  border-color: #d5281b;
}

.additional-info-slight-blue .arr-card--care__arrow:before,
.additional-info-slight-blue .arr-card--care__arrow:after {
  border-color: #005eb8;
  border: solid 32px #005eb8;
}

.additional-info-slight-blue-ld-gen .arr-card--care__arrow:before,
.additional-info-slight-blue-ld-gen .arr-card--care__arrow:after {
  border-color: #515ccb;
  border: solid 32px #515ccb;
}



.plan-step-container h3 {
  font-family: "Graphik", sans-serif;
  padding-top: 15px;
  margin-left: 15px;
  padding-bottom: 8px;
  padding-right: 5px;
  font-weight: 500;
  font-size: 17px;
  color: #ebf0f9de;
  letter-spacing: -0.5px;
  border-bottom: 1px solid;
  margin-right: 20px;
  border-color: #d1def1;
}


.insights-nav-right .plan-step h1 {
  /*    text-transform: none;*/
}

.history-of-changes-container {
  font-family: "Graphik", sans-serif;
  ;
  color: #212b32;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 400;
}

.history-of-changes-container time {
  font-weight: 500;
}


#change-history {
  padding: 25px;
  font-size: 15px;
  background: white;
  border: 1px solid #d2dff2;
  margin-bottom: 25px;
  margin-top: 10px;
}

.author-details {
  padding: 25px;
  font-size: 15px;
  background: white;
  border: 1px solid #d2dff2;
  margin-bottom: 25px;
  margin-top: 10px;
  line-height: 1.8;
}

.author-details img {
  margin-right: 15px;
}

#change-history ul {
  margin-bottom: 0px;
}


.additional-info-warning-title h3 {
  font-weight: 550;
  font-family: "Graphik", sans-serif;
  color: #212b32;
  font-size: 18px;
}

.new-tip-card .heading-for-tip h3 {
  font-weight: 550;
  font-family: "Graphik", sans-serif;
  color: #fff;
  font-size: 18px;
}

@media (max-width: 800px) {

  .additional-info-slight-blue-ld-gen .left-text-container-smr,
  .additional-info-slight-blue-ld-gen .right-upload-container-smr {
    width: 100%;
  }


}

@media (max-width: 600px) {
  .left-container-full-length {
    display: none;
  }

  .right-container-full-length {
    padding: 20px;
    padding-top: 50px;
  }

  .details-container-header h1 {
    font-size: 1.4em;
  }

  .details-container-header .subtitle-header-main {
    padding-bottom: 20px;
    font-size: 0.9rem;
    font-family: 'Graphik', sans-serif;
    line-height: 1.5;
    letter-spacing: 0.2px;
    font-weight: 400;
  }

  .author-container,
  .history-of-changes-container {
    font-size: 15px;
  }

  .at-a-glance p,
  .highlighted-card p {
    font-size: 16px;
  }

  .additional-info-warning {
    padding-top: 65px;
  }

  .left-container-full-length {
    padding: 5px;
  }
}


@media (max-width: 800px) {
  .left-container-full-length {
    padding: 15px;
  }

  .plan-step h1,
  .plan-step h2 {
    padding-left: 0px;
    line-height: 1.5;
  }
}